body {
    font-family: Arial;
    text-align: center;
    background-color: #fff8f0;
}

h1 {
    color: #d35400;
}

.produto {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#carrinho {
  background: #ffffffd9; margin: 20px auto; width: 80%;
  padding: 10px;
  border-radius: 10px;
  
}