body {
    font-family: Arial, sans-serif;
    background: #fef6f2;
    border-radius: 15px;
    margin: 0;
    padding: 10px;
}

.titulo {
    background: #e67e22;
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

/* Grid de produtos */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
}

/* Cards de produtos */
.produto {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.produto h3 {
    margin: 5px 0;
}

.produto button {
    background: #e74c3c;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.produto button:hover {
    background: #c0392b;
}

/* Carrinho */
.carrinho {
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

/* Total */
.total {
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
    color: #e74c3c;
}

/* Botões */
button {
    margin: 3px; 
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


h1 {
    color: #d35400;
}

.produto {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.formulario {
  background: #ffffffd9;
  margin-top: 20px; 
  padding: 15px;
  border-radius: 10px;
}

#carrinho {
  background: white; 
  margin-top: 15px; 
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #e67e22;
  
}